pyyaml>=6.0.1
pydantic>=2.0
python-dotenv>=1.0.1
py-cord[voice]==2.4.1
pydantic-settings>=2.0.0

# TTS (Sintetizador de voz)
gTTS>=2.5.1
# TTS>=0.22.0 # Opcional: Coqui TTS (apenas para Python >=3.9,<3.12 no Colab. O bot usará gTTS localmente como fallback)

# STT (Transcritor de voz)
faster-whisper>=1.0.0

# Web Panel (Painel de controle)
fastapi>=0.110.0
uvicorn>=0.28.0
websockets>=12.0
pyngrok>=7.1.0
